@import '../../../theme';

.game-view {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

.game-status-hint {
  font-size: 30px;
}

.game-board-header {
  font-size: 30px;
  height: 40px;
  text-align: center;
}
