@import '../../../theme';

$transfer-size: 16px;

.transfer {
  position: absolute;
  width: $transfer-size;
  height: $transfer-size;
  border: 1px solid $theme-color-1;
  border-radius: 50%;
  transform: translate(#{-$transfer-size / 2}, #{-$transfer-size / 2});
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &.transfer-neutral {
    background-color: $theme-color-2;
  }

  &.transfer-mine {
    background-color: $theme-color-5;
  }

  &.transfer-friendly {
    background-color: $theme-color-6;
  }

  &.transfer-enemy {
    background-color: $theme-color-4;
  }
}

.transfer-label {
  font-size: 10px;
}
