<div class="board">
  <div *ngFor="let cell of myCells$ | async; trackBy: identifyCell"
       class="board-cell board-cell-mine"
       [style.left.%]="cell.x * 100"
       [style.top.%]="cell.y * 100"
       [ngClass]="{'board-cell-clickable': cell.id !== selectedCell,
                   'board-cell-selected': cell.id === selectedCell,
                   'board-cell-mother': cell.type === CellType.Mother}"
       (click)="sendTransfer(cell, 'mine')">
    <div class="board-cell-label">{{cell.weight}}</div>
  </div>

  <div *ngFor="let cell of theirCells$ | async; trackBy: identifyCell"
       class="board-cell"
       [style.left.%]="cell.x * 100"
       [style.top.%]="cell.y * 100"
       [ngClass]="{'board-cell-clickable': selectedCell,
                   'board-cell-mother': cell.type === CellType.Mother,
                   'board-cell-friendly': cell.friendly,
                   'board-cell-enemy': !cell.friendly}"
       (click)="sendTransfer(cell, 'theirs')">
    <div class="board-cell-label">{{cell.weight}}</div>
  </div>

  <div *ngFor="let cell of neutralCells$ | async; trackBy: identifyCell"
       class="board-cell board-cell-neutral"
       [style.left.%]="cell.x * 100"
       [style.top.%]="cell.y * 100"
       [ngClass]="{'board-cell-clickable': selectedCell,
                   'board-cell-mother': cell.type === CellType.Mother}"
       (click)="sendTransfer(cell, 'neutral')">
    <div class="board-cell-label">{{cell.weight}}</div>
  </div>

  <zo-transfer-animation
    *ngFor="let transfer of transferAnimations$ | async; trackBy: identifyTransfer"
    [transferAnimation]="transfer">
  </zo-transfer-animation>
</div>
