@import '../theme';

.app {
  height: 100%;
  background-color: $theme-color-3;
}

.app-toolbar {
  height: 80px;
  background-color: #EAC769;
  border-bottom: 1px solid $theme-color-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title {
  color: $theme-color-5;
  font-size: 50px;
  text-shadow: -1px 0 $theme-color-1, 0 1px $theme-color-1, 1px 0 $theme-color-1, 0 -1px $theme-color-1;
}

